<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CV</title>
    <link rel="stylesheet" href="./CSS/normalize.css">
    <link rel="stylesheet" href="./CSS/all.min.css">
    <link rel="stylesheet" href="./CSS/style.css">
    
</head>
<body>
  
<div class="cv">
   
         <div class="container">
      <div class="cv-content">
        <div class="personal">
            <div class="profile-img">
            <img src="./OsamaKamalCv-IMAGE.jpg" alt="" >
            </div>
            <div class="name-job">
                <h2>Osama Kamal Elnahas</h2>
                <div>Software engineer</div>
            </div>
            <div class="heading">Contact </div>
            <div class="contact-me">

                <div class="details">
                    <i class="fa-solid fa-phone"></i>
                    <div>(+20) 1222406627</div>
                </div>

                <div class="details">
                    <i class="fa-solid fa-envelope"></i>
                    <div>osamaelnahas43@gmail.com</div> 
                </div>

                <div class="details">
                    <i class="fa-brands fa-linkedin"></i>
                    <div><a href="https://www.linkedin.com/in/osama-elnahas-b7717a24a/" target="_blank">Linkedin Account</a></div>  
                </div>

                <div class="details">
                    <i class="fa-brands fa-github"></i>
                    <div><a href="https://github.com/ossaammaaa" target="_blank">Github Account</a></div>     
                </div>

            </div>
        </div>
     
        <div class="non-personal">
           <div class="container">
            <div class="education">
                <div class="heading">Education</div>
                    <ul>
                        <div class="uni">
                        <li >Suez Canal University | Computer science and informatics</li>
                         <div>Start at : 2021 , Present</div> 
                        </div>
                        <li>GPA : B+</li>
                        <li>Gradution Year : 2025</li>
                    </ul>
            </div>

            <div class="skills">
                <div class="heading">Skills</div>
                <ul>
                    <div class="programming">
                       <li> <div class="heading">programming</div>
                                <ul>
                                    <div class="col">
                                        <li>python</li>
                                        <li>JavaScript</li>
                                        <li>HTML</li>
                                    </div>
                                    <div class="col">
                                        <li>css</li>
                                        <li>oop</li>
                                        <li>data-structure</li>
                                    </div>
                                    <div class="col">
                                        <li>Problem-solving skilss</li>
                                        <li>tkinter</li>
                                    </div>
                                </ul>
                        </li>  
                    </div>
                    <div class="Miscellaneous">
                        <li> <div class="heading">Miscellaneous</div>
                            <ul>
                                <li>Presentation Skills</li>
                                <li>Communication skills</li>
                                <li>Team Working</li>
                                <li>system desgin</li>
                            </ul>
                        </li>
                    </div>
                    <div class="languages">
                        <li>  <div class="heading">Languages</div>
                            <ul>
                                <li>Arabic : native</li>
                                <li>English : Conversational</li>
                            </ul>
                        </li>
                </div>
                
                </ul>
            </div>
            <div class="exper">
                <div class="heading">Certificates & Experience</div>
                <ul>
                    <li>ITI Summer Training</li>
                    <a href="https://drive.google.com/file/d/1D6gVPUveg7z0jaAP2oxU-wnhRzghvZZg/view" target="_blank">Certificate Link</a>
                    <li>Creativa Mobile App Workshop</li>
                    <a href="https://drive.google.com/file/d/1_ZfOyUhzl9h9U4E2ZI7Bdzno6iJqnfQp/view" target="_blank">Certificate Link</a>
                    <li>El-Masrya Technology </li>
                    <a href="https://drive.google.com/file/d/1hTzloib4EaWl73fvVkXXxwwlfUI7jnW8/view" target="_blank">Certificate Link</a>
                </ul>
            </div>
            <div class="volunter">
                <div class="heading">Volunteering Experience</div>
                <div class="describe">ICPC SCU Operation Team</div>
                <p>I Used to organize and attend Competitve Programming events of ICPC SCU</p>
            </div>

           </div>
        </div>
      </div>
    </div>
</div>


</body>
</html>