<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <form id="quizForm" onsubmit="return openPopup()">
        <!-- Your quiz questions and answers go here -->
        <input type="submit" value="Submit Exam">
    </form>

    <!-- Custom Pop-up Modal -->
    <div id="popupBox">
        <div class="content">
            <p>Are you sure you want to submit the exam?</p>
            <button onclick="submitForm()">Yes</button>
            <button id="cancelButton" onclick="closePopup()">No</button>
        </div>
    </div>

    <script src="./main.js"></script>

</body>

</html>